*.pyc
.DS_Store
snippets.ipynb
.ipynb_checkpoints
*.zip
harvests
list_imports.py
write_requirements.sh
Untitled*.ipynb
*.sqlite
redactions*
.display*
draft-*
alien_registration_series.json
alien_registration.db
data/db-items*
data/items*
data/nara
*.html
data/*.ndjson
data/images
text.csv
my_test
data/packages
data/white-australia-policy.csv
b2455_places.csv
closed-2018-closedperiod.csv
digitised-week-ending-20210327.csv
series_totals1.csv
tas_series_totals.csv
tas_series.csv
test.csv
white-australia-policy.csv
zotero_collection_3DLKYYLA.json
data/A6122-items.csv
data/alien-registration.csv
data/asio.csv
data/closed-20201231.csv
data/closed-20201231.json
data/closed-20210101.json
data/closedaccess20160101.csv
data/db-closed-2020.json
data/recordsclosedin2015.csv
data/recently-digitised-20210327.csv
data/M880-closed-period.csv
data/db-closed2.json
data/db-closed.json
data/db_agencies_by_function
anzacs.kml
all_series_may_2021.jsonl
all_series_april_2022.ndjson
