altair==4.1.0
anyio==3.1.0
appmode==0.8.0
appnope==0.1.2
argon2-cffi==20.1.0
arrow==1.1.0
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
certifi
cffi==1.14.5
chardet==3.0.4
decorator==5.0.9
defusedxml==0.7.1
deprecation==2.1.0
entrypoints==0.3
idna==2.10
importlib-metadata==4.0.1
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-archive==3.0.1
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-packaging==0.10.2
jupyter-server==1.8.0
jupyterlab==3.0.16
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.2
jupyterlab-widgets==1.0.0
linecache2==1.0.0
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
MechanicalSoup==1.0.0
mistune==0.8.4
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
nose==1.3.7
notebook==6.4.0
numpy==1.20.3
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
prometheus-client==0.10.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
pycparser==2.20
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-slugify==5.0.2
pytz==2021.1
pyzmq==22.0.3
qtconsole==5.1.0
QtPy==1.9.0
recordsearch-data-scraper @ git+https://github.com/wragge/recordsearch_data_scraper.git@b1a8b9d8f7c68107f186cfc69d601489fb4110e1
rectpack==0.2.1
requests==2.25.1
requests-cache==0.6.3
robobrowser==0.5.3
Send2Trash==1.5.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
sqlitedict==1.7.0
terminado
testpath==0.5.0
text-unidecode==1.3
tinydb==4.4.0
tomlkit==0.7.2
toolz==0.11.1
tornado==6.1
tqdm==4.60.0
traceback2==1.4.0
traitlets==5.0.5
unittest2==1.1.0
url-normalize==1.4.3
urllib3==1.26.4
vega==3.4.0
voila==0.2.10
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git@4b5d6d3387656a0d01b14c2ce0107e34f774377a
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.0.1
Werkzeug==0.16.1
widgetsnbextension==3.5.1
zipp==3.4.1
