IPython
PIL
altair
arrow
beautifulsoup4
bs4
ipywidgets
jupyterlab
mechanicalsoup
pandas
requests
robobrowser
slugify
tinydb
tqdm
voila
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git
recordsearch_data_scraper @ git+https://github.com/wragge/recordsearch_data_scraper.git
lxml
jupyter-archive
appmode
